# Ignore node_modules as it will be reinstalled in the Docker image
node_modules
npm-debug.log

# Ignore logs and temp files
*.log
*.tmp

# Ignore Docker-related files
Dockerfile
.dockerignore

# Ignore version control and CI/CD files
.git
.gitignore
.github/
.idea/
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db

